  <form>
    <h1>New product registration:</h1>

    <div class="container-fluid">
      <section class="container">
        <div class="container-page">

          <div class="col-md-10">
            <div class="form-group col-lg-6">
              <p>Name<span>*</span></p>
              <span class="icon-case"><i class="fa fa-tags"></i></span>
              <input type="text" name="name" id="name" data-rule="required" data-msg="This field is required." title="Product name"/>
              <div class="validation"></div>
            </div>
          </div>

          <div class="col-md-10">
            <div class="form-group col-lg-11">
              <p>Description<span>*</span></p>
              <span class="icon-case"><i class="fa fa-newspaper-o"></i></span>
              <textarea name="description" id="description" rows="3" data-rule="required" data-msg="This field is required." title="Product description"></textarea>
              <div class="validation"></div>
            </div>
          </div>

          <div class="col-md-10">
            <div class="form-inline col-lg-3">
              <p>Unit value<span>*</span></p>
              <span class="icon-case"><i class="fa fa-usd"></i></span>
              <input type="text" name="unitvalue" id="unitvalue" data-rule="required" data-msg="This field is required." title="Product unit value" />
              <div class="validation"></div>
            </div>

            <div class="form-inline col-lg-3">
              <p>Serial number<span>*</span></p>
              <span class="icon-case"><i class="fa fa-gears"></i></span>
              <input type="text" name="serialnumber" id="serialnumber" data-rule="required" data-msg="This field is required."/>
              <div class="validation"></div>
            </div>

            <div class="form-inline col-lg-3">
              <p>Acquisition Date <span>*</span></p>
              <span class="icon-case"><i class="fa fa-calendar-check-o"></i></span>
              <input type="text" name="acquisitiondate" id="acquisitiondate" data-rule="required" data-msg="This field is required."/>
              <div class="validation"></div>
            </div>
          </div>

          <div class="col-md-10">
            <div class="form-inline col-lg-5">
              <p>Category<span>*</span></p>
              <span class="icon-case"><i class="fa fa-caret-square-o-up"></i></span>
              <input type="text" name="category" id="category" data-rule="required" data-msg="This field is required." title="Product category" />
              <div class="validation"></div>
            </div>

            <div class="form-inline col-lg-5">
              <p>Subcategory<span>*</span></p>
              <span class="icon-case"><i class="fa fa-caret-square-o-down"></i></span>
              <input type="text" name="subcategory" id="subcategory" data-rule="required" data-msg="This field is required."/>
              <div class="validation"></div>
            </div>
          </div>

          <div class="col-md-10">
            <div class="form-inline col-lg-5">
              <p>Status<span>*</span></p>
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                  <input type="radio" name="status" id="status" autocomplete="off" checked>Available
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="status" id="status" autocomplete="off">In use
                </label>
              </div>
            </div>

            <div class="form-inline col-lg-5">
              <p>Vendor phone<span>*</span></p>
              <span class="icon-case"><i class="fa fa-phone"></i></span>
              <input type="text" name="vendorphone" id="vendorphone" data-rule="required" data-msg="This field is required."/>
              <div class="validation"></div>
            </div>
          </div>

          <div class="col-md-10">
            <div class="form-inline col-lg-8">
              <p>Vendor mail<span>*</span></p>
              <span class="icon-case"><i class="fa fa-envelope"></i></span>
              <input type="text" name="vendormail" id="vendormail" data-rule="required" data-msg="This field is required."/>
              <div class="validation"></div>
            </div>
          </div>

        </div>
      </section>
    </div>

    <button type="submit" class="bouton-contact">Save</button>

  </form>